h1 {
  background-color: blue;
  color: yellow;
}

.four {
  background-color: aqua;
}

.five {
  background-color: pink;
}

#Belal {
  color: red;
}

#Sheetal {
  color: blue;
}

#Imon:hover {
  background-color: brown;
  color: aqua;
}

/* unvisited link */
/* a:link {
  color: #FF0000;
} */

/* visited link */
/* a:visited {
  color: #00FF00;
} */

/* mouse over link */
/* a:hover {
  color: #FF00FF;
} */

/* selected link */
/* a:active {
  color: #0000FF;
} */

table,
tr,
td,
th {
  border: 2px solid pink;
  border-collapse: collapse;
}
