*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px grey;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    border: 2px solid white;
    /* border-radius: 0.5rem; */
}

.btn::before{
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform-origin:left ;
    /* transform-origin: bottom; */
    transform: scaleX(0);
    transition: all 0.8s;
}

.btn:hover::before{
    transform: scaleX(1);
}

.btn:hover{
    color: black;
    border: 2px solid #e84949;
}