/* .box{
    height: 500px;
    width: 500px;
    background-color: yellow;
    border: 2px solid red;
    font-size: 1rem;
}

@media (min-width:720px) {
    .box{
        background-color: red;
        border: 2px solid yellow;
        font-size: 3rem;
    }
    
} */

/* .container{
    background-color: beige;
    border: 5px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.box{
    height: 200px;
    width: 100%;
    border: 3px solid brown;
    padding: 10px;
    margin: 5px;
}

@media (min-width:720px) {
    .container{
        flex-direction: row;
    }
    .box{
        height: 200px;
        width: 200px;
        border: 3px solid brown;
        padding: 10px;
        margin: 5px;
    }

} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    /* width: 90vw; */
    background-color: beige;
    border: 5px solid black;
    padding: 5px 25px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
}

.text{
    width: 49%;
    text-align: justify;
}
.image{
    width: 49%;
}

.image > img{
    width: 100%;
    object-fit: cover;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 10px 25px;
}

@media (max-width:1420px) {
    .wrapper{
        flex-direction: column-reverse;
        gap:2rem
    }
    .text{
        width: 100%;
    }
    .image{
        width:100%
    }
}